
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    width: 960px;
    height: 120px;
    margin: 0 auto;
}

.title{
    float: left;
    /*vertical-align: middle;*/
    text-align: center;
    line-height: 75px;
    background-color: #4aaaa5;
    color: white;
    height: 80px;
    width: 250px;
    margin: 40px auto;
}
nav {
    float: right;
    margin: 40px auto;
    height: 80px;
    width: 250px;
    line-height: 80px;
}

.links {
    text-decoration: none;
    color: #777777;
}
img {
    margin: 10px;
    float: left;
    height: 200px;
    width: 150px;
}

#container {
    height: 100%;
    background: url("../images/qbkls.png");

}

article {
    clear: both;
    overflow: scroll;
    border-style: solid;
    border-color: #dddddd;
    background-color: #ffffff;
    position: relative;
    top: -30px;
    height:550px;
    width: 960px;
    margin: auto;
}

h2 {
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    width: 250px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 5px;
}
p {
    padding: 10px
}
footer {
    display: block;
    color: #ffffff;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
    line-height: 50px;
    border-top: thick solid #4aaaa5;
    background-color: #666666;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
/*Start of CSS 2 */


.boxes {
    float: left;
    margin: 10px;
    height: 200px;
    width: 200px;
    border-color: #4aaaa5;
    border-style: solid;
}

.banner1{
    margin-top: 100px;
    background-color: #4aaaa5;
    width: 200px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.banner2{
    margin-top: 150px;
    background-color: #4aaaa5;
    width: 200px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

/* portfolio background images */

.family {
    background: url("../images/fam.png");
}
.music {
    background: url("../images/redrocks.png");
}
.sports {
    background: url("../images/avs.png");
}
.cycling {
    background: url("../images/cycling.png");
}
.crossfit {
    background: url("../images/crossfit.png");
}
.snowboarding {
    background: url("../images/snowboarding.png");
}
.technology{
    background: url("../images/tech.png");
}
.family2 {
    background: url("../images/family2.png");
}
/* End of CSS 2 */
/* start of CSS 3 */
.border {
    border-style: dashed;
    border-color: darkgreen;
    height: 100%;
}

/*.contact {*/
/*    clear: both;*/
/*    overflow: scroll;*/
/*    border-style: solid;*/
/*    border-color: #dddddd;*/
/*    background-color: darkblue;*/
    /*background-color: #ffffff;*/
    /*position: relative;*/
    /*top: -30px;*/
    /*height:550px;*/
    /*width: 960px;*/
    /*margin: auto;*/
/*}*/

form {
    margin: 0;
    color: #777777;
    text-align: left;
    padding-left: 20px;
}

/* input field formatting */

input {
    margin-bottom: 10px;
}

/* input box formatting */

.inputbox {
    width: 920px;
    height: 20px;
    padding-right: -20px;
    box-shadow: 2px 2px 2px #999;
    border: 1px solid #dddddd;

}

/* message test area formatting */

textarea{
    letter-spacing: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px #999;
    border: 1px solid #dddddd;
    resize: none;
    width: 900px;
    padding-right: -20px;
    height: 200px;
}

/* button formatting */

button {
    margin-top: 20px;
    vertical-align: center;
    text-align: center;
    line-height: 40px;
    background-color: #4aaaa5;
    color: white;
    height: 40px;
    width: 125px;
}

/* End of CSS3*/

@media screen and (min-width:0px) and (max-width: 510px) {

    header{
       width: 100%;
   }

    nav {
        line-height: 40px;
        margin: auto auto auto 28vw;
        float: left;
        width: auto;
    }

    .title {
        width: 100%;
        margin: auto;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    article {
        width: auto;
        height: 100%;
        margin-bottom: 30px;
    }

    form {
        width: auto;
    }
    p {
        padding: 10px;
    }

    .boxes {
        margin-left: 25vw;
    }
}

/*@media screen and (min-width:510px) and (max-width: 1024px) {*/
/*    header {*/
/*        width: 100%*/
/*    }*/
/**/
/*    #container {*/
/*        width: 100%;*/
/*    }*/
/**/
/*    article {*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        border-style: none;*/
/*        margin-bottom: 10px;*/
/*    }*/
/**/
/*    footer {*/
/*        position: fixed;*/
/*    }*/
/**/
/*    .links {*/
/*        font-size: 20px;*/
/*    }*/
/**/
/*    p {*/
/*        font-size: 25px;*/
/*        padding: 10px;*/
/*    }*/
/*}*/